<% content_for :head do %>
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">Edit <%= resource_name.to_s.humanize %></h1>
    </div>
  </div>
<% end %>

<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Editing User</h3>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="card-body">
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :first_name, include_blank: false %>
            <%= f.input :last_name, include_blank: false %>
            <%= f.input :email, include_blank: false %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <% password_length_message = "#{@minimum_password_length} characters minimum, " %>
            <%= f.input :password, hint: "#{password_length_message if @minimum_password_length}leave blank if you don't want to change it" %>

            <%= f.input :password_confirmation %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes" %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to 'Back', root_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>


<div class="card card-danger">
  <div class="card-header">
    <h3 class="card-title">Cancel my account</h3>
  </div>
  <div class="card-body">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
