<div class="card card-solid">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3 class="d-inline-block d-sm-none"><%= @auction.name %></h3>
        <div class="col-12">
          <%= image_tag @auction.cover, class: "product-image", alt: "Product Image" %>
        </div>
        <div class="col-12 product-image-thumbs">
          <div class="product-image-thumb active">
            <%= image_tag @auction.cover, alt: "Product Image" %>
          </div>
          <% @auction.images.each do |image| %>
            <div class="product-image-thumb">
              <%= image_tag image, alt: "Product Image" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="col-12">
          <h3 class="my-3"><%= @auction.name %></h3>
          <p><%= @auction.description %></p>
        </div>
        <hr>

        <div class="col-12">
          <div class="bg-gray py-2 px-3 mt-4">
            <h2 class="mb-0">
              Highest BID:
              <div id="last_bid">
                <%= number_to_currency(@highest_bid.offer, unit: "₺", separator: ",", format: "%n %u") %>
                <small>
                  by <%= link_to UserDecorator.new(@highest_bid.bidder).full_name, member_path(@highest_bid.bidder_id) %>
                </small>
              </div>
            </h2>
            <h4 class="mt-0">
              <small>
                Base price: <%= number_to_currency(@auction.base_price, unit: "₺", separator: ",", format: "%n %u") %>
              </small>
            </h4>
          </div>

          <div class="mt-4">
            <%= simple_form_for([@auction, Bid.new], remote: true) do |f| %>
              <div id="new_bid_alert"></div>
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-prepend">
                  <%= f.button :submit, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-flat" %>
                </span>

                <%= f.input :offer, placeholder: "", include_blank: false, label: false, wrapper: false %>

                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-lira-sign"></i></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "admin-lte/dist/js/demo.js" %>
