<div class="card card-solid">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3 class="d-inline-block d-sm-none"><%= @auction.name %></h3>
        <div class="col-12">
          <%= image_tag @auction.cover, class: "product-image", alt: "Product Image" %>
        </div>
        <div class="col-12 product-image-thumbs">
          <div class="product-image-thumb active">
            <%= image_tag @auction.cover, alt: "Product Image" %>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="col-12">
          <h3 class="my-3"><%= @auction.name %></h3>
          <p><%= @auction.description %></p>
        </div>
        <hr>

        <div class="col-12">
          <div class="bg-gray py-2 px-3 mt-4">
            <h2 class="mb-0">
              Highest BID: <p id="last_bid"><%= number_to_currency(rand(1_000..2_000), unit: "₺", separator: ",", format: "%n %u") %></p>
            </h2>
            <h4 class="mt-0">
              <small>
                Base price: <%= number_to_currency(@auction.base_price, unit: "₺", separator: ",", format: "%n %u") %>
              </small>
            </h4>
          </div>

          <div class="mt-4">
            <%= simple_form_for([@auction, Bid.new], remote: true) do |f| %>
              <div class="form-inputs">
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :offer, include_blank: false %>
                  </div>
                </div>
              </div>

              <%= f.button :submit, class: "btn btn-success btn-block btn-lg btn-flat" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "admin-lte/dist/js/demo.js" %>
