<% content_for :head do %>
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">User</h1>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-user"></i> User
    </h3>
    <div class="card-tools">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-tool btn-warning" %>
      <%= link_to 'Back', users_path, class: "btn btn-tool btn-default" %>
    </div>
  </div>

  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-4">First Name</dt>
      <dd class="col-sm-8"><%= @user.first_name %></dd>

      <dt class="col-sm-4">Last Name</dt>
      <dd class="col-sm-8"><%= @user.last_name %></dd>

      <dt class="col-sm-4">Email</dt>
      <dd class="col-sm-8"><%= @user.email %></dd>

      <dt class="col-sm-4">Status</dt>
      <dd class="col-sm-8"><%= @user.status %></dd>

      <dt class="col-sm-4">Role</dt>
      <dd class="col-sm-8"><%= @user.role %></dd>
    </dl>
  </div>
</div>
